<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,  maximum-scale=1.0">
	<link rel="stylesheet" href="vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
	<!-- inicio javaScript -->
	<script src="vendor/js/jquery.js"></script>
	<script src="vendor/js/bootstrap.min.js"></script>
	<!-- fin javaScript -->
	<!-- Social Buttons for Bootstrap -->
	<link href="assets/css/bootstrap-social.css" rel="stylesheet" >
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<link href="assets/css/docs.css" rel="stylesheet" >
</head>
<body>
	<!-- inicio header -->
	<header class="header-principal">
		<div class="conteiner-fluid">
			<div class="row">
				<nav>
					<div class="conteiner-brand col-xs-8">
						<a href="/"><img class="img-responsive center-block" src="assets/images/sumarme.png" title="sumarme" alt="sumarme home"></a>
					</div>
					<div class="conteiner-menu col-xs-2">
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button"
							id="dropdownMenu1" data-toggle="dropdown">
							<span class="glyphicon glyphicon-align-justify"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="ingresa">Postularme</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="registrate">Buscar jugador</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="/">Salir</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--fin de header-->
	<!-- inicio content -->
	<div class="myContainer">
		
		<section class="container">
			<form method="post" id="postularme">
				<div class="descripcion col-xs-12">
					<label for="inputDescripcion" class=" control-label"><h4>Tus características</h1></label>
				</div>
				<div class="col-xs-5" id="foto">
					<img src="assets/images/foto.jpg" class="img-responsive" alt="foto">
					<button type="submit" data-toggle="modal" class="btn btn-default boton-envio  col-lg-12 col-md-12 col-xs-12"><h4 class="button">Editar</h4></button>
					<p class="help-block">Cambiá tu foto, descripción o tus datos para mantenerlos actualizados</p>
				</div>
				<div class="col-xs-7">
					<textarea class="form-control" rows="10" id="descripcion" placeholder="Describí en 140 caracteres como jugás" name="descripcion" value='' required></textarea>
				</div>
				<div class="form-group col-xs-12">
					<a href="postularme" class="btn btn-default btn-lg col-xs-12" role="button"><h4 class="button">POSTULARME</h4></a>
				</div>
				<div class="form-group col-xs-12">
					<a href="buscardor" class="btn btn-default btn-lg col-xs-12" role="button"><h4 class="button">BUSCAR JUGADOR</h4></a>
				</div>
			</form>
		</section>
	</div>
	<!-- fin content -->
	<!-- inicio de footer -->
	<footer class="footer">
		<a class="btn btn-social-icon btn-lg btn-twitter btn-footer">
			<i class="fa fa-twitter"></i>
		</a>
		<a class="btn btn-social-icon btn-lg btn-facebook btn-footer">
			<i class="fa fa-facebook"></i>
		</a>
		
		<span class="clearfix"></span>
	</footer>
	<!-- fin de footer -->
</body>