<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,  maximum-scale=1.0">
	<link rel="stylesheet" href="vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
	<!-- inicio javaScript -->
	<script src="vendor/js/jquery.js"></script>
	<script src="vendor/js/bootstrap.min.js"></script>
	<!-- fin javaScript -->
	<!-- Social Buttons for Bootstrap -->
	<link href="assets/css/bootstrap-social.css" rel="stylesheet" >
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<link href="assets/css/docs.css" rel="stylesheet" >
</head>
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,  maximum-scale=1.0">
	<link rel="stylesheet" href="vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
	<!-- inicio javaScript -->
	<script src="vendor/js/jquery.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <!-- fin javaScript -->

</head>

<body>
	<!-- inicio header -->
	<header class="header-principal">
		<div class="conteiner-fluid">
			<div class="row">
				<nav>
					<div class="conteiner-brand col-xs-8">
						<img class="img-responsive center-block" src="assets/images/sumarme.png" title="sumarme" alt="sumarme home">
					</div>
					<div class="conteiner-menu col-xs-2">
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button"
							 		id="dropdownMenu1" data-toggle="dropdown">
									<span class="glyphicon glyphicon-align-justify">
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="perfil">Mi perfil</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="postularme">Postularme</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="seleccion">Buscar jugador</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="/">Salir</a>
								</li>
							</ul>			
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--fin de header-->

	<!-- inicio content -->
	<section class="myContainer">
    	<div class="row">
    		<div class="container">
    			<img src="assets/images/foto.jpg" class="img-responsive" alt="">
    		</div>
    		<div class="container-description">
    			<p class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus praesentium, ratione reiciendis pariatur sint repudiandae rerum sequi vitae, suscipit modi, voluptatum accusantium recusandae magni cum unde optio. Esse, suscipit, necessitatibus.</p>

    			<img src="assets/images/ok.jpg" class="img-responsive col-xs-6" alt="">
    			 <img src="assets/images/false.jpg" class="img-responsive col-xs-6" alt="">
    		</div>
    	</div>
    </section>

	<!-- fin content -->

</body>
<!-- inicio javaScript -->
<script src="vendor/js/jquery.js"></script>
<script src="vendor/js/bootstrap.min.js"></script>
<script src="assets/js/postularme.js"></script>
<!-- fin javaScript -->